@tailwind base;
@tailwind components;
@tailwind utilities;

.m-active {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b1) / var(--tw-bg-opacity));
    border-radius: 0.5rem;
    font-weight: bold;
}